body {
		margin: 0;
		overflow-x: hidden;
}
#banner1{
		display: block;
		background-color: black;
		height: 50px;
		width: 100%;
}
#banner1 p{
		margin: 0;
		font-weight: bold;
		font-size: 40px;
		text-align: center;
		color: red;
		color: red;
		position: relative;
		top: 2px;
}
#menu{
		min-width: 400px;
		background-color: grey;
		height: 100px;
		width: 100%;
		position: relative;
}
#menu form{
		text-align: right;
}
#menu ul{
		position: relative;
		padding-top: 15px;
		margin-left: -60px;
		float: left;
		left: 50%;
}
#menu ul li{
		float: left;
		left: -50%;
		position: relative;
		list-style-type: none;
		margin-left: 20px;
}
#menu ul li a{
		text-align:center;
		padding-top:5px;
		text-decoration:none;
		color: white;
		display: inline-block;
		background-color: black;
		height: 20px;
		width: 110px
}
#banner2{
		display: block;
		background-color: black;
		height: 50px;
		width: 100%;
}
#Contenu{
		display: block;
		width: 90%;
		margin: auto;
}
#mail p{
		display: block;
		width: 90%;
		margin: auto;
}
#telechargement p{
		display: block;
		width: 90%;
		margin: auto;
}
#renvoi p{
		display: block;
		color: blue;
		text-align: right;
}
#footer{
	display:block;
	text-align:center;
	background-color: black;
	height:50px;
}

#footer p{
		color: white;
		font-weight: bold;
		position: relative;
		top: 15px;
}
		